extends layout

block content
  h1 Dashboard
  p.lead A dashboard for the farmer.
  hr
  .row
    table.table.table-hover
      thead
        tr
          th(scope='col') ID
          th(scope='col') Type
          th(scope='col') Age (months)
          th(scope='col') Last Harvest
      tbody
        for book in books
          tr
            th(scope='row') =book.id
            td =book.type
            td =book.age
            td "10-2-2018"
